{% extends 'admin/change_form.html' %}
{% load url from future %}
{% load i18n %}


{% block form_top %}
  {% if original.pk %}
    <ul class="nav nav-tabs nav-tabs-suit" data-tab-prefix="tab-content">
      <li class="active"><a href="#main">Edit</a></li>
      <li><a href="#flag">Flag</a></li>
      <li><a href="#info">Tab info</a></li>
    </ul>
  {% endif %}
{% endblock %}
{% block after_related_objects %}
  {{ block.super }}
  <div class="tab-content tab-content-flag hide">
    {% if original.pk %}
      <table class="table-overview">
        <tr>
          <th>Flag presented by</th>
          <td>
            <a href="http://www.geonames.org" target="_blank">http://www.geonames.org</a>
          </td>
        </tr>
        <tr>
          <th>Flag of {{ original.name }}</th>
          <td>
            <img src="http://www.geonames.org/flags/x/{{ original.code|lower }}.gif" alt="" style="width: 50%">
          </td>
        </tr>
      </table>
    {% else %}
      Item is not saved yet
    {% endif %}
  </div>
  <div class="tab-content tab-content-info hide">
    <table class="table-overview">
      <tr>
        <th>Info</th>
        <td>
          Tabs you see above are nothing but HTML/JS/CSS implementation. We made this example to show you how easy you can extend Django admin and Django Suit. <br><br>You can rewrite some JS and make them AJAX tabs, if you want and because needs can differ too much, we created just simple js/toggle tabs example, rest is upon your imagination and skills.
          <br><br>To add these tabs you must extend change_form.html by adding some additional HTML code. <br>See source code of tabs you see above <a href="https://github.com/darklow/django-suit-examples/blob/master/templates/admin/examples/country/change_form.html" target="_blank">on Github</a>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block extrajs %}
  {{ block.super }}
  <script type="text/javascript">
    $(function () {
      $('.nav-tabs').suit_tabs();
    });
  </script>
{% endblock %}
